@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Croissant+One&family=Fuggles&family=Gorditas&family=Mooli&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.containar {
    margin: auto;
    width: 1250px;
    padding: 0 30px;
}

body {
    font-family: 'Epilogue', sans-serif;
}

/* start header */
.header {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    position: fixed;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-logo {
    /* margin-left: 40px; */
    z-index: 1;
}

.header-menu ul {
    display: flex;
    margin: 10px 40px 10px 0;
}

.header-menu li {
    margin: 0 28px;
    list-style: none;
    padding: 5px 0;

}

.header-menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
}

.dropdown>ul {
    background-color: #fff;
    margin: 0 !important;
    position: absolute;
    height: auto;
    display: flex;
    text-align: center;
    padding: 0 !important;
    top: 30px;
    visibility: hidden;
    opacity: 0;

}

.dropdown:hover>ul {
    opacity: 1;
    transition: all o.3s linear;
    visibility: visible;

}

.drpdown-menu {
    display: flex;
}

.dropdown .drpdown-collam {
    font-size: 13px;
    margin: 9px 0 20px;

}

.drpdown-collam h6 {
    margin-top: 10px;
    width: 80px;
    padding-bottom: 5px;
}

.drpdown-collam>ul {
    padding: 0;
    margin: 0 10px;
    flex-direction: column;
    display: flex;
    margin-left: -16px;
}

.drpdown-collam>ul>li {
    margin: 5px 12px;
    padding: 0;
    width: 86px;
    justify-content: center;

}

.drpdown-collam>ul>li>a {
    font-size: 13px;
}

.drpdown-collam>ul>li>a:hover {
    color: #ff733b;
    transition: all .2s ease-in-out;
}

.header-menu li a:hover {
    color: rgb(244, 248, 15);
    transition: all .2s ease-in-out;
}

.serch-type input {
    border: 0;
    padding: 0 20px;
    font-size: 18px;
    background-color: transparent;

}

.serch-type input:focus {
    outline: 0;
}

.serch-type i {
    font-size: 15px;
}

.header-bottan {
    margin: 20px;
    align-items: center;
}

.header-bottan i {
    margin: 0 10px;
    background-color: black;
    border-radius: 50%;
    padding: 15px 17px;
    color: #fff;
    transition: all .3s ease-in-out;

}

.header-bottan i:hover {
    background-color: rgb(231, 228, 5);
}

.header-bottan a {
    background-color: black;
    border-radius: 25px;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all .3s ease-in-out;

}

.header-bottan a:hover {
    background-color: rgb(231, 228, 5);
}

/* end header */
/* start main section */
.background {
    background-image: url(../image/background-image.jpg);
    position: relative;
    /* width: 100%; */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}

.main-text {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-text h1 {
    font-size: 70px;
    padding: 0 220px;
    margin-top: 50px;

}

.main-text p {
    font-size: 22px;
    margin-top: 30px;

}

.design-image img {
    margin-top: -320px;
    margin-left: 55px;
}

.live-background {
    background-image: url(../image/live-bacjground.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -10px;
}

form {
    display: flex;
    background-color: #fff;
    width: 1100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.form-selected {
    padding: 20px 40px;
}

.form-selected p {
    color: rgba(0, 0, 0, 0.459);
}

.form-selected select {
    border: none;
    font-size: 20px;
    margin-top: -10px;

}

.form-selected option {
    font-size: 15px;
}

.form-selected select:focus {
    outline: 0;
}

form a {
    text-decoration: none;
    background-color: black;
    padding: 15px 70px;
    color: #fff;
    margin-right: 20px;
    transition: all .3s ease-in-out;
    font-size: 18px;
}

form a:hover {
    color: black;
    background-color: rgb(231, 228, 5);
}

form img {
    margin-bottom: -111px;
    margin-left: -85px;

}

/* ens main section */
.provide-logo {
    justify-content: end;
    display: flex;
    align-items: end;
    margin-right: 80px;
    margin-top: -85px;
    position: relative;
}

/* .service-provide img {
    margin: -20px;
    width: 150px;
} */

.service-provide-text {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    align-items: center;
    margin-bottom: 60px;
}

.service-provide-text h2 {
    font-size: 60px;
    width: 50%;
    margin-left: 30px;

}

.service-provide-text p {
    width: 40%;
    padding-right: 58px;
    padding-left: 90px;
    font-size: 22px;
}

.provide-img-menu {
    display: flex;

}

.provide-img {
    position: relative;
    /* width: 25%;
    margin: auto; */
    height: auto;
    margin: auto;
    width: 31%;
}

.provide-img img {
    width: 100%;
    height: auto;
    transition: all .3s ease-in-out;
}


.provide-img:hover:after {
    content: "";
    inset: 0;
    background-color: #0000002f;
    position: absolute;

}

.provide-img-text {
    top: 32px;
    position: absolute;
    left: 128px;
}

.provide-img-text h4 {
    font-size: 25px;
}

.provide-img-text a {
    padding: 11px 12px;
    background-color: #ff733b;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    /* margin-top: 20px; */
    position: absolute;
    top: 300px;
    left: -5px;
    font-size: 20px;
    width: 130px;
    height: 50px;
    margin-top: 20px;
    transition: all .3s ease-in-out;
}

.provide-img:hover a {
    opacity: 1;
    z-index: 1;

}

.provide-img:hover a:hover {
    background-color: black;
    color: #fff;
}

/* end maim section */
/* start live wok section */
.live-work {
    margin: 90px;
    text-align: center;
    margin-bottom: 60px;
}

.live-work img {
    background-color: black;
    padding: 15px 10px;
    border: black solid 1px;
    border-radius: 50%;
}

.live-work h2 {
    font-size: 60px;
    padding: 0 152px;
    margin-top: 40px;

}

.live-work p {
    color: rgba(0, 0, 0, 0.185);
    margin-top: 25px;
}

.live-work-logo img {
    width: 10%;
    margin-top: -150px;
    margin-left: 50px;
}

/* end live work section */
/* start best property */
.best-property {
    background-color: #f5f7fc;
}

.best-property-text {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    align-items: center;
}

.best-property-text h2 {
    font-size: 60px;
    margin-left: 30px;
}

.best-property-text ul {
    display: flex;
}

.best-property-text ul li {
    margin: 25px;
    list-style: none;

}

.best-property-text li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}

.best-property-text li a:hover {
    background-color: black;
    color: #fff;
    padding: 5px 20px;
    border: #000 1px solid;
}

.best-property-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 74px;

}

.best-property-menu .house-villa {
    width: 30%;
    margin: 15px;
    background-color: #fff;

}

.house-villa img {
    width: 100%;
}

.house-prise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;

}

.house-prise i {
    background-color: #000;
    color: #fff;
    padding: 8px;
}

.house-prise i:hover {
    background-color: rgb(231, 228, 5);
    transition: all .3s ease-in-out;
}

.house-villa-text {
    margin: 24px 0 18px 25px;
}

.house-villa-tex h4 {
    font-size: 18px;
}

.house-villa p {
    color: rgba(0, 0, 0, .4);
}

.img-background:hover img {
    background-color: #00000022;
}

/* start strategy */
.strategy-main {
    display: flex;
    align-items: center;
    padding-top: 125px;
}

.startegy-video {
    width: 50%;
    /* position: relative;
    top: 50%;
    bottom: 50%; */
}

.startegy-video i {
    position: relative;
    left: 195px;
    top: -21px;
    padding: 20px 22px;
    background-color: #000;
    border: #000 1px solid;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.startegy-video i:hover {
    background-color: rgb(250, 233, 0);
    color: #000;
    border: 1px solid rgb(250, 233, 0);
}

.strategy-img-2 {
    position: absolute;
}

.startegy-img-center {
    margin-bottom: -239px;
    height: 282px;
    margin-left: 20px;
}

.strategy-img-small {
    margin-top: 28px;
    width: 195px;
    margin-left: 35px;
}

.strategy-text {
    width: 50%;
}

.strategy-text p {
    color: #0000005e;
    font-size: 15px;
}

.strategy-text h3 {
    font-size: 55px;
    margin-right: 249px
}

.strategy-text h6 {
    font-size: 21px;
    margin: 30px 110px 0;
    position: relative;
}

.strategy-text-shape img {
    position: absolute;
    width: 90px;
    /* right: 428px; */

}

.startegy-text-bottam {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.strategy-text-shape {
    align-items: center;
    display: flex;
}

.startegy-text-left {
    line-height: 8px;
}

.startegy-text-left h4 {
    font-size: 48px;
}

.startegy-text-left p {
    color: black;
    font-size: 16px;
}

.startegy-text-right {
    margin-right: 73px;
}

.startegy-text-right h4 {
    font-size: 48px;
}

.startegy-text-right p {
    color: black;
    font-size: 16px;
}

.strategy-small-shap {
    margin: 125px 0 0 63px;
}

/* end strategy */
/* start export effortble */
.afford-main {
    display: flex;
    margin-top: 170px;
    position: relative;


}

.afford-background {
    background-image: url(../image/afford.jpg);
    height: 70vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;
    width: 60%;

}

.afford-background::after {
    content: "";
    inset: 0;
    background-color: #0000007a;
    position: absolute;

}

.afford-background h2 {
    font-size: 700px;
    color: rgba(255, 255, 255, 0.319);
    margin-top: -134px;
    /* min-height: 600px; */
}

.afford-text-main {
    background-color: #000;
    width: 40%;
}

.afford-text-top {
    display: flex;
}

.afford-text-top img {
    width: 150px;
    position: relative;
    top: -80px;
    z-index: 1;
    left: -5px;
}

.afford-text-top h3 {
    font-size: 80px;
    color: #fff;
    z-index: 3;
    position: relative;
}

.afford-text-bottam {
    color: #fff;
    z-index: 1;
    position: relative;
    font-size: 22px;
    margin-top: 50px;
}

.afford-text-bottam p {
    position: absolute;
}

/* .afford-slider {
    position: ab;
}
.afford-slider img{
    position: relative;
    left: 414px;
}
.afford-slider i{
    position: relative;
    left: 350px;
    top: 1px;
    font-size: 29px;
} */
/* end export effortble */
/* start lovely word  */
.lovely-words-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 100px;
}

.lovely-words-text {
    width: 50%;
}

.lovely-words-text h2 {
    margin: 70px 0 0 40px;
    font-size: 60px;
    text-align: left;
}

.lovely-word-text-bottam {
    text-align: left;
    margin-left: 140px;
    margin-top: 70px;
}

.lovely-word-text-bottam img {
    background-color: #000;
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
    /* margin-top: 70px;
    margin-right: 240px; */
}

.lovely-word-text-bottam p {
    font-size: 27px;
    margin-top: 40px;
    line-height: 46px;

}

.lovely-word-text-bottam h3 {
    color: #000;
    font-size: 40px;
    margin-top: 30px;
}

.lovely-word-text-p {
    display: flex;
    margin-left: -211px;
    align-items: center;
}

.lovely-word-text-p img {
    background: none;
    border: none;
    position: relative;
    top: 28px;
}

.lovely-words {
    text-align: center;
    margin-top: -100px;
    position: relative;
    z-index: 1;
}

.lovely-words-img {
    position: relative;
}

.lovely-words-img img {
    position: relative;
    width: 93%;
}

.lovely-words-img::after {
    content: "";
    background-image: url(../image/main-form-img.svg);
    z-index: 1;
    inset: 0;
    position: absolute;
    background-repeat: no-repeat;
    left: 80%;
    top: -65px;
    height: 100%;
}

.number-text-box {
    background-color: #000;
    width: 25%;
    padding: 10px 20px;
    margin-top: 30px;
    color: #fff;
}

.number-text-box h2 {
    font-size: 45px;
}

.number-text-box p {
    margin: 0;
    font-size: 18px;
}

/* end lovly word */
/* start our blog */


.our-blog {
    background-color: #f5f7fc;

}

.ourblog-text {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 40px 0;
    align-items: center;
}

.ourblog-text h2 {
    font-size: 60px;
}

.ourblog-text a {
    font-size: 23px;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

.ourblog-text a:hover {
    color: #ff1292;
}

.our-main-img {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    gap: 50px;
    margin: 0 0 0 31px;
}

.our-design-hover {
    min-height: 446px;
    height: 446px;
    width: 45%;
    position: relative;
}

.our-design-hover img {
    width: 100%;
    height: 446px;
}

.our-design-hover:hover::after {
    content: "";
    background-color: #fff;
    inset: 0;
    position: absolute;
    transition: all .5s ease-in-out;
    /* min-height: 500px; */
    height: 446px;

}

.our-design-hover:hover h3 {
    color: #000;
}

.our-property-hover:hover h3 {
    color: #000;
}

.our-property-hover :hover h3:hover {
    text-decoration: solid black;
}

.our-property-hover {
    width: 45%;
    min-height: 446px;
    height: 446px;
    position: relative;
    transition: all .5s ease-in-out;
}

.our-property-hover img {
    width: 100%;
    height: 446px;

}

.our-property-hover:hover::after {
    content: "";
    background-color: #fff;
    inset: 0;
    position: absolute;
    height: 446px;
}

.design-pragraph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    gap: 40px;
    margin-top: 25px;

}

.design-pragraph i {
    background-color: #fffb09;
    margin-right: 25px;
    padding: 15px;
    color: #000;
}

.design-pragraph i:hover {
    background-color: #000;
    color: #fff;
}

.design-text {
    position: absolute;
    top: 55%;
    margin-left: 45px;
    z-index: 1;
}

.design-text h3 {
    transition: all .3s ease-in-out;
    line-height: 60px;
    font-weight: 500px;
    font-size: 40px;
    margin-top: 0px;
}

.design-text h6 {
    display: inline;
    padding: 3px 7px;
    background-color: #000;
    color: #fff;
    line-height: 45px;
}

.our-blog-shap {
    margin-top: 20px;
    padding-left: 40px;
    padding-bottom: 50px;
}

/* end our blog */
.que-ans-main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px 0;
    gap: 120px;
}

.que-ans-text {
    width: 40%;

}

.que-ans-text h2 {
    font-size: 60px;
}

.que-ans-text p {
    font-size: 22px;
    margin-top: 33px;
    margin-bottom: 33px;
    color: #00000076;
}

.que-ans-text a {
    text-decoration: none;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: #000 solid 1px;
    border-radius: 5px;
    font-size: 18px;
    transition: all .2s ease-in-out;
}

.que-ans-text a:hover {
    background-color: #fc8759;
    border: #fc8759 solid 1px;
}
.accordian-main{
    width: 50%;
}
.accordian-buttan-1,.accordian-buttan-2,.accordian-buttan-3,
.accordian-buttan-4,.accordian-buttan-5{
    position: relative;
    margin: 22px 0;
}
.accordian-buttan-1 h2,.accordian-buttan-2 h2,.accordian-buttan-3 h2,
.accordian-buttan-4 h2,.accordian-buttan-5 h2{
    font-size: 28px;
}

.accordian-buttan-1 .plus,.accordian-buttan-2 .plus,.accordian-buttan-3 .plus,
.accordian-buttan-4 .plus,.accordian-buttan-5 .plus{
    position: absolute;
    top: 0;
    right: 12px;
}
.accordian-p-1 p,.accordian-p-2 p,.accordian-p-3 p,.accordian-p-4 p,.accordian-p-5 p{
    width: 386px;
}

/* start form */
.form {
    background-image: url(../image/bottam-form.jpg);
    width: 100%;
    padding: 80px 0;
}

.form-main {
    width: 100%;
}

.form-text {
    width: 40%;
    color: #fff;
    margin-left: 40px;
}

.form-text h2 {
    font-size: 63px;
}

.form-text p {
    margin-top: 20px;
    font-size: 22px;
}

.form-text p a {
    border: none;
    background-color: transparent;
    color: #f0f009;
    padding: 0;
    font-size: 22px;
    text-decoration: solid;
    border-bottom: 2px solid #f0f009;
}

.form-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.form-typing {
    display: flex;
    gap: 40px;
    background-color: #fffb09;
    padding: 30px;
}

.form-typing input {
    border: none;
    outline: none;
    font-size: 22px;
    padding: 20px 0 10px 0;
    background-color: transparent;
}

.form-typing p {
    margin-top: 10px;
    color: #000000cf;
}

.form-typing button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    margin-top: 20px;
}

/* start footer */
footer {
    background-color: #000;
    width: 100%;
    padding: 100px 0;
    position: relative;
}

footer::after {
    content: "";
    background-image: url(../image/doted-white\ shap.svg);
    position: absolute;
    z-index: 1;
    inset: 0;
    background-repeat: no-repeat;
    top: 70%;
    left: 85%;

}

.footer-main {
    display: flex;
}

.footer-logo {
    margin-left: 30px;
}

.footer-logo img {
    margin-bottom: 30px;
}

.footer-logo p {
    color: #fff;
    font-size: 22px;
}

.footer-logo h6 {
    color: #ffffffb6;
    font-size: 20px;
}

.footer-icon i {
    color: #fff;
    border: 1px #fff solid;
    background-color: transparent;
    padding: 7px 10px;
    margin: 10px 10px 30px 10px;
}

.footer-menu ul {
    list-style: none;
    display: flex;
    gap: 60px;
    color: #fff;
    font-size: 28px;
    margin: 0 84px;
}

.footer-menu ul .about-main {
    flex-direction: column;
    gap: 0;
    padding: 0;
    color: #ffffffb6;
    font-size: 18px;
    margin: 0;
    line-height: 40px;
    padding-top: 15px;

}

.footer-menu ul .about-main li {
    transition: all .2s ease-in-out;
}

.footer-menu ul .about-main li:hover {
    color: #f0f009;
    border-bottom: 2px solid #f0f009;
}

.footer-address {
    width: 23%;
    margin-left: 50px;
}

.footer-address h3 {
    color: #fff;
}

.footer-address p {
    color: #ffffffb6;
}

/* end form */